* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    resize: both;
    overflow: auto;
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 3fr;
}

.container div {
    padding: 15px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.side-bar-content {
    border: 1px solid red;
    grid-column: 1;
    grid-row: span 2;
}

.header {
    border: 1px solid blue;
}


.navbar {
    border: 1px solid grey;
    grid-row: 1;
    grid-column: 2 / 4;
}

.section-header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;

}

.greeting {
    border: 1px solid purple;
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.greeting ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    
}

.projects {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(150px, 1fr));
    gap: 15px;
}

.projects header {
    text-align: left;
}

.projects .card {
    border: 1px solid blue;
    height: 150px;
}

.announcements {
    border: 1px solid blue;
    grid-column: 3;
    grid-row: 2 / 3;
}

.trending {
    border: 1px solid red;
    grid-column: 3;
}


